<div class="col-lg-12">
  <h1>
    <%= @movie.title %>
    <small><%= @movie.director %></small>
  </h1>
  <h4>Ranked: <%= @movie.ranking %></h4>
  <p><%= @movie.description %></p>
  <td><%= button_to "Upvote", upvote_movie_path(@movie.id), class: "btn btn-primary" %></td>
  <br>
<%= link_to "Edit #{@movie.title}", edit_movie_path, class: "btn btn-default" %>
<%= link_to "Delete", movie_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to "View All Movies", movies_path, class: "btn btn-default" %>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
